node_modules
dist
dist-ssr
.output
.vinxi
.tanstack
.nitro
.wrangler
.git
.gitignore
.env
.env.*
!.env.example
gradle.properties
*.log
npm-debug.log*
coverage
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
